// Color Pallette

:root {
  // Primary
  --blue-1: #f3f8fe;
  --blue-2: #e7f1fc;
  --blue-3: #c4ddf8;
  --blue-4: #a1c8f4;
  --blue-5: #5a9eec;
  --blue-6: #1375e4;
  --blue-7: #1169cd;
  --blue-8: #0e58ab;
  --blue-9: #0b4689;
  --blue-10: #093970;

  // Success
  --green-1: #ecfdf5;
  --green-2: #d1fae5;
  --green-3: #a7f3d0;
  --green-4: #6ee7b7;
  --green-5: #34d399;
  --green-6: #10b981;
  --green-7: #059669;
  --green-8: #047857;
  --green-9: #065f46;
  --green-10: #064e3b;

  // Warning
  --yellow-1: #fff7ed;
  --yellow-2: #ffedd5;
  --yellow-3: #fed7aa;
  --yellow-4: #fdba74;
  --yellow-5: #fb923c;
  --yellow-6: #f97316;
  --yellow-7: #ea580c;
  --yellow-8: #c2410c;
  --yellow-9: #9a3412;
  --yellow-10: #7c2d12;

  // Danger
  --red-1: #fef2f2;
  --red-2: #fee2e2;
  --red-3: #fecaca;
  --red-4: #fca5a5;
  --red-5: #fca5a5;
  --red-6: #ef4444;
  --red-7: #dc2626;
  --red-8: #b91c1c;
  --red-9: #991b1b;
  --red-10: #7f1d1d;

  // Gray
  --gray-1: #f8fafc;
  --gray-2: #f1f5f9;
  --gray-3: #e2e8f0;
  --gray-4: #cbd5e1;
  --gray-5: #94a3b8;
  --gray-6: #64748b;
  --gray-7: #475569;
  --gray-8: #334155;
  --gray-9: #1e293b;
  --gray-10: #0f172a;

  // others
  --white: #ffffff;
  --black: #000000;
}
